body {
    background-color: rgb(54, 54, 54);
    margin: 0px;
    color: antiquewhite;
}

img {
    width: 96px;
    height: 96px;
}

#heading-section {
    background-color: black;
    padding: 20px;
    text-align: center;
    
}

#main-heading {
    margin: 0px;
    color: rgb(221, 203, 44);
    font-size: 50px;
}

.instructions {
    font-size: 25px;
    text-align: center;
}

.all-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 165px;
}

.icon-box {
    border: 2px white solid;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10;
}

.icon-box:hover {
    border: 2px white solid;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10;
    background-color: rgb(34, 34, 34);
}

.icon-heading {
    margin: 0px 0px 10px 0px;
}

.score-cards {
    padding: 25px 25px;
    display: flex;
    gap: 2%;
}

.single-card h3 {
    margin: 10px 0px;
    font-size: 25px;
    font-weight: 900;
}

.single-card p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

#round-result {
    font-size: 18px;
    font-weight: 600;
}

.final-result {     /* this element is created in javascript */
    font-size: 22px;
    font-weight: 800;
}

#results {
    width: 50%;
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-card {
    width: 25%;
    border: 2px white solid;
    border-radius: 10px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-again-button {  /* element created in javascript */
    font-size: 25px;
    color: white;
    background-color: rgb(54, 54, 54);
    border: 2px solid rgb(221, 203, 44);
    padding: 20px 50px;
    border-radius: 50px;
}

.play-again-button:hover {
    font-size: 25px;
    color: white;
    background-color: rgb(34, 34, 34);
    border: 2px solid rgb(221, 203, 44);
    padding: 20px 50px;
    border-radius: 50px;
}
