@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Medium.ttf);
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(54, 54, 54);
    color: antiquewhite;
    font-family: poppins;
}

img {
    width: 96px;
    height: 96px;
}

#heading-section {
    background-color: black;
    padding: 20px;
    text-align: center;
}

#main-heading {
    font-family: 'Shadows Into Light', cursive;
    color: rgb(221, 203, 44);
    font-size: 60px;
    font-weight: 900;
    line-height: 65px;
}

.instructions {
    font-size: 22px;
    text-align: center;
    padding: 10px 0px 20px 0px;
}

.all-icons {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.icon-box {
    border: 2px white solid;
    padding: 15px 0; /* 30px */
    width: clamp(220px, 0.25vw, 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10;
    cursor: pointer;
}

.icon-box:hover {
    background-color: rgb(34, 34, 34);
}

.icon-heading {
    margin: 0px 0px 10px 0px;
}

.score-cards {
    width: 100vw;
    padding: 25px 1%;
    display: flex;
    justify-content: center;
    gap: 1%;
}

.single-card h3 {
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 600;
}

.single-card p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

#round-result {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.final-result {     /* this element is created in javascript */
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#results {
    width: clamp(400px, 50%, 150px); /*50% */
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
}

.single-card {
    width: 25%;
    border: 2px white solid;
    border-radius: 10px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-again-button {  /* element created in javascript */
    font-size: 25px;
    color: white;
    background-color: rgb(54, 54, 54);
    border: 2px solid rgb(221, 203, 44);
    padding: 20px 50px;
    border-radius: 50px;
}

.play-again-button:hover {
    background-color: rgb(34, 34, 34);
}


/*media queries*/

@media screen and (max-width: 800px) {
    .all-icons{
        gap: 3%;
    }
}

@media screen and (max-width: 450px) {
    img {
        width: 60px;
        height: 60px;
    }
}